@page "/"

<PageTitle>WarpTube</PageTitle>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 mb-4 text-center">WarpTube</h1>
            <p class="lead text-center mb-4">Discover and watch YouTube videos</p>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-8 col-lg-6">
            <div class="input-group input-group-lg">
                <span class="input-group-text">&#64;</span>
                <input type="text" class="form-control" placeholder="Enter channel handle" />
                <button class="btn btn-primary" type="button">
                    Search
                </button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center text-muted">
                <p class="mt-3">Enter a YouTube channel handle above to get started</p>
            </div>
        </div>
    </div>
</div>
